:root {
  --yellow: rgb(255, 196, 0);
  --dark-grey: rgb(30, 30, 30);
  --grey: rgb(55, 55, 55);
  background-color: var(--dark-grey);
}

.main {
  background-color: var(--dark-grey);
  display: flex;
}

.sidebar-container {
  color: white;
  background-color: var(--grey);
  margin: 30px;
  position: relative;
  width: fit-content;
  height: 600px;
  padding: 10px 20px;
  border-radius: 10px;
}

.sidebar-header {
  display: flex;
}

.sidebar-heading {
  font-size: 36px;
}

.list-container {
  font-size: 24px;
}

.sidebar-list {
  list-style-type: none;
}

.list-element {
  background-color: rgb(120, 120, 120);
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
  border: 3px solid rgba(0, 0, 0, 0);
}

.list-element:hover {
  border: 3px solid;
  border-color: var(--yellow);
  transition: 0.5s;
}

.more {
  margin-left: 200px;
  cursor: pointer;
}

.name-icon {
  display: flex;
}

.btnAdd {
  position: relative;
  color: white;
  margin: 10px 20px 20px 25px;
  padding: 5px 13px 5px 13px;
  left: 20px;
  bottom: 2px;
  font-size: x-large;
  border-radius: 30px;
  background-color: var(--yellow);
  border: none;
}

/* Expense Details */

.expense-details {
  color: white;
  margin: 30px;
  font-size: 36px;
}
